{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

{% include 'auth.html' %}


<h3> {{ news.header_post }} </h3>
<h4>{{ news.time_create_post|date:'d.M.Y' }}</h4>
<p style="text-align: left">{{ news.text_post|censor }}</p>



<hr>
{% csrf_token %}
        {% if not is_subscribersuser %}

            <button><a href="{% url 'subscribe' news.pk %}">Подписаться</a></button><br>Подписаться на новости в этой категории
        {% else %}

            <button><a href="{% url 'unsubscribe' news.pk %}">Отписаться</a></button><br>Отписаться от новостей в этой категории
        {% endif %}

<hr>


<a href="/news/{{ news.id }}/edit/">Редактировать</a>&nbsp &nbsp &nbsp<a href="/news/{{ news.id }}/delete/">Удалить</a>


{% endblock content %}